@import '../../styles/_colors.scss';
@import '../../styles/_fonts.scss';

.autoplay-carousel {
  margin-top: 15vw;
  &--border {
    border-top: 1px solid black;
  }
  &__slider {
    overflow: hidden;
    &--text {
      display: flex;
      white-space: nowrap;
      flex-direction: row;
      animation: scroll 120s linear infinite;
      height: 80px;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 15px;
    }
    &--animated-text {
      text-transform: uppercase;
      font-size: $font-size-logo;
      width: 100%;
      padding-right: 30px;
    }
    &--lighter {
      padding-right: 80px;
      font-family: $font-author;
      font-size: $font-size-text-L;
      text-transform: uppercase;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

@media screen and (max-width: 450px) {
  .autoplay-carousel__slider {
    &--text {
      height: 40px;
      margin-top: -5px;
    }
    &--animated-text {
      font-size: $font-size-text-S;
    }
    &--lighter {
      font-size: 16px;
    }
  }
}
