.mobile-navigation {
  height: 100vh;
  text-align: center;
  margin-top: 20px;
  &__container {
    padding-top: 30%;
  }
}

.mobile-navigation__item {
  margin-top: 20px;
  font-size: 40px;
}

.mark:hover {
  cursor: pointer;
  transition: cursor 2s linear;
}
.mark::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0em;
  left: 0em;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
.mark:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
