$color-black: #000;
$color-white: rgb(255, 255, 255);
$color-latte: #e9ddd3;
$color-pink: #e6a9b2;
$color-red: #ee2704;
$color-orange: #feab30;
$color-blue: #a8d3d7;
$color-latte-modal: rgb(233, 221, 211, 0.9);
$color-black-modal: rgba(0, 0, 0, 0.7);
