@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

$font-body: 'Krona One', sans-serif;
$font-author: 'Cormorant Garamond', serif;
$font-text: 'Mulish', sans-serif;

$font-size-text-XS: 12px;
$font-size-text-S: 14px;
$font-size-text: 18px;
$font-size-logo: 20px;
$font-size-text-big: 24px;
$font-size-text-L: 30px;
$font-size-text-XL: 50px;

$font-weight-light: bold;
